<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">

    <test name="Test Basics 1">
        <classes>
            <class name="UsersTests"/>
        </classes>
    </test>
<listeners>
    <listener class-name="utils.RetryListener"/>
    <listener class-name="utils.SkippedTestsListener"/>
    <listener class-name="utils.TestInfoListener"/>
</listeners>
</suite>